.sequenceContainer {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
}

.columns {
  max-width: 563.5px;
  width: 100%;  
}

.full-width {
  width: 100%;
}

.sequenceContainer header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.text-uppercase {
  text-transform: capitalize;
}

.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appHeader .settingsBtn {
  align-self: left;
}

.appHeader .name {
  align-self: center;
  margin: -24px auto 48px;
}

code {
  word-wrap: break-word;
}