.error input {
  background-color: #fff6f6 !important;
  border-color: #e0b4b4 !important;
  color: #9f3a38 !important;
}

.sequenceContainer {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
}

.columns {
  max-width: 563.5px;
  width: 100%;  
}

.sequenceHeader {
  position: relative; 
}

.sequenceHeader .closeBtn {
  position: absolute;
  top: 0%;
  right: 0%;
  color: #fff;
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.sequenceContainer header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.text-uppercase {
  text-transform: capitalize;
}

.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appHeader .settingsBtn {
  align-self: left;
}

.appHeader .name {
  align-self: center;
  margin: -24px auto 48px;
}

code {
  word-wrap: break-word;
}