.error input {
  background-color: #fff6f6 !important;
  border-color: #e0b4b4 !important;
  color: #9f3a38 !important;
}

body {
  background: rgb(27, 28, 29);
  color: #fff;
}

html body label {
   color: #fff !important;
}

html body input {
  background-color: rgb(27, 28, 29) !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}

.generationArea {
  text-align: center;
}

.generationArea .button {
  background-color: #8DC449 !important;
  color: #fff;
}

::-moz-selection { 
  background: #8DC449;
  color: #fff
}

::selection { 
  background: #8DC449;
  color: #fff
}

.sequenceContainer {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
}

.columns {
  max-width: 563.5px;
  width: 100%;  
}

.sequenceHeader {
  position: relative; 
}

.sequenceHeader .closeBtn {
  position: absolute;
  top: 0%;
  right: 0%;
  color: #fff;
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.sequenceContainer header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.sequenceContainer header button {
  background-color: #EC4337 !important;
  color: #fff !important;
}

.white-border {
  border: 1px solid #fff;
  padding: 2% 1%;
}

.sequenceContainer header div:first-of-type {
  margin: 0 0 2%;
}

.sequenceContainer header h2 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0 10px;
}

.sequenceContainer header .northBall, .sequenceContainer header .southBall {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  -webkit-clip-path: circle(15px at center);
  clip-path: circle(15px at center);
  display: inline-block;
  position: relative;
  background: #000;
}

.sequenceContainer header .southBall .top {
  height: 15px;
  width: 27px;
  background: #000;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
}

.sequenceContainer header .southBall .bottom {
  height: 12px;
  width: 26px;
  background: #fff;
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border-radius: 0 0 12px 12px;
}

.sequenceContainer header .northBall .bottom {
  height: 15px;
  width: 27px;
  background: #000;
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.white-text {
  color: #fff !important;
}

.modal .content i {
  color: #fff !important;
}

.modal .content, .modal .header {
  text-align: center;
}

.modal .header {
  font-size: 40px !important;
}

.modal .content .green-text {
  cursor: pointer;
  font-weight: 700;
}

.modal .content p {
  font-size: 28px;
}

.green-text {
  color: #8DC449 !important;
}

.modal {
  color: #000 !important;
}

.sequenceContainer header .northBall .top {
  height: 12px;
  width: 27px;
  background: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  border-radius: 12px 12px 0 0;
}

.text-uppercase {
  text-transform: capitalize;
}

.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px auto;
}

.appHeader .settingsBtn {
  align-self: left;
}

.appHeader .name {
  align-self: center;
}

code {
  word-wrap: break-word;
}

/* @media all and (max-width: 610px) {
  .sequenceContainer {
    flex-direction: column;
  }

  .sequenceContainer .columns {
    max-width: 100%;
    width: 100%;
  }

  .sequenceContainer .columns:first-of-type {
    margin: 0 0 4%;
  }

  .Controls .row {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .Controls .row .half-width {
    width: 100%;
    flex-direction: column;
  }

  .Controls .row .half-width:first-of-type {
    margin: 0 0 6%;
  }
} */

.ui.animated.button {
  background: #333;
  color: #fff;
margin-bottom:5px;
}
.sequenceContainer header.sequenceHeader h3 {
  color: #fff;
}
.appHeaderLogo {
  margin: 30px auto 0px;
  display: table;
max-width:600px;
}
.appHeaderLogo img{ max-width:100%;}
a.button_header.ui.button {
  margin: 0px auto 50px;
  display: table;
  background: #333;
  color: #fff;

}
a.button_header.ui.button:hover{ background:#000;}

.ui.container{ padding-bottom:1em;}
@media(max-width:991px){
  
.Ball{-webkit-clip-path:circle(150px at center);clip-path:circle(150px at center);position:relative;margin:0 2%}.Ball,.Ball:after{height:300px;width:300px}
.ui.container{ padding-bottom:1em;}
.NorthPole, .SouthPole {
  height: 150px;
  width: 300px;
}
}
@media(max-width:767px){

.sequenceContainer{display: flow-root;}	
.columns {
max-width: 100%;
width: 100%;
}
.NorthPole, .SouthPole {
  height: 100px;
  width: 200px;
}

.Ball{-webkit-clip-path:circle(100px at center);clip-path:circle(100px at center);position:relative;margin:0 2%}.Ball,.Ball:after{height:200px;width:200px}

.ui.animated.button:focus .visible.content, .ui.animated.button:hover .visible.content {
  left: 10px;
  right: 0px !important;
}
.ui.animated.button:focus .hidden.content, .ui.animated.button:hover .hidden.content {
  left: 10px;
  right: auto !important;
}
.ui.animated.button .visible.content {
  left: 10px;
  right: 0;
}
.ui.animated.button .hidden.content {
  left: 10px;
  right: auto;
  text-align: left;
}
.sequenceContainer > .columns {
  margin-bottom: 30px;
}
.sequenceContainer > .columns + .columns {
  margin-bottom: 0px;
}
}

@media(max-width:479px){

.Controls .row {
  padding: 4% 15px;
display: flow-root;
}

.Controls .row .half-width{ margin-top:30px; width:100%;}


}